body{
    background-color: black;
    color: white;
}
img{
    height: 300px;
    width: 200px;
    border: 5px solid white;
    margin-left: 75px;
}
div{
    margin-top: 90px;
    margin-left: 600px;
}
p{
    margin-left: 75px;
}
h1{
    text-transform: uppercase;
}